.window{
    max-width: 800px;
    max-height: 800px;
    min-width: 800px;
    min-width: 800px;
}

body{
    height: 800px;
    background-image: url('../art/device/egg-back.png');
    background-repeat: no-repeat;
    background-size: 1200px ;
    background-position: center top;

}
h1{
    height: 100px;
    font-size: 110px;
    text-align: center;
    margin-top: 150px;
    font-family: 'Chewy', cursive;
    /* text-shadow: -1px 0 10px black, 0 1px 10px black, 1px 0 10px black, 0 -1px 10px black */
    -webkit-text-fill-color: WHITE;
    -webkit-text-stroke-color: BLACK;
    -webkit-text-stroke-width: 2.00px;
}

#petZone{
    background-image: url('../art/device/VP mouth.png');
        height: 400px;
        width: 600px;
        background-repeat: no-repeat;
        background-size: 900px 700px ;
        background-position-y: -125px;
        background-position-x: -105px;
        margin: auto;
        display: flex;
        align-items: center;        
}
#new-pet{
    margin: auto;
    padding: 0 20px 0 20px;
    animation-name: pet;
    animation-duration: 4s;
    border-radius: 20px;
    background-color: aqua;
    border: 5px;
    border-style: solid;
    border-color: black;
    font-family: 'Bowlby One SC', cursive;
    font-size: 25px;
}


footer{
    display: flex;
    justify-content: center;
    height: 80px;
}

/* .control{
    padding: 10px 10px 10px 10px;
    margin: 20px 10px 20px 10px;
    border-radius: 50%;
    background-color: aqua;
    border: 5px;
    border-style: solid;
    border-color: black;
} */

.control{
    padding: 0px 20px 0px 20px;
    margin: 20px 10px 20px 10px;
    border-radius: 20px;
    background-color: aqua;
    border: 5px;
    border-style: solid;
    border-color: black;
    font-family: 'Bowlby One SC', cursive;
    font-size: 25px;
}
   
#meter{
    text-align: center;
    background-color: plum;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    height: 100px;
    padding: 0 15px 0 15px;
    align-content: center;
    font-family: 'Chewy', cursive;
    font-size: 25px;
    width: 600px;
    border: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 5%;
}
 .stat{
 font-size: 40px;
 margin: 0 50px 0 50px;
}




@keyframes monster {
    /* translate ( X , then Y position change) 
    set up a handful of them to run through*/
    from { transform : translateX(0) }
    25%  { transform: translate(20px, 20px); }
    50%  { transform: translate(40px, 0px); }
    75%  { transform: translate(0px, 0px); }
    100%  { transform: translate(-30px, 30px); }
    to   { transform: translate(0px, 0px); }
}

#petSpr{
    color:blue;
    position: relative;
}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }