body{
    height: 90%;
    background-color: plum;
}
h1{
    height: 10vh;
    font-size: 4em;
    text-align: center;
}
#middle{
    height: 60vh;
    background-color: blue;
    background-image: url('../art/istockphoto-1290270631-170667a.jpg');
    background-repeat: no-repeat;
    background-size: 70vh ;
    background-position: 50% 50%;
    align-items: center;
    display: flex;
        align-items: center;
}

#petZone{
        background-color: black;
        color: white;
        height: 25vh;
        width: 40vh;
        margin: auto;
        display: flex;
        align-items: center;
}
#new-pet,{
    margin: auto;
    padding: 0 20px 0 20px;
}


footer{
    display: flex;
    justify-content: center;
    height: 20h;
    background-color: black;
}

.control{
    padding: 0 20px 0 20px;
    margin: 20px 40px 20px 40px;
}

#meter{
    text-align: center;
    background-color: green;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    height: 80px;
    padding: 0 33% 0 33%;
    justify-content: space-evenly;
}

.stat{
    font-size: 3em;
}

#petSpr{
    color:blue;
    position: relative;
    transition: 1s ease-in-out;

}
#petSpr.slideright:hover {
    
    transform: translate(3em,0);
  }